body {
    background-color: yellowgreen;
}
.greenColor {
    background-color: green;
    color: #FFFFFF;
    p {
        padding: 5px 15px;
    }
}
.container {
    display: flex;
    h1 {
        text-align: center;
        padding: 5px 15px;
        background:  rgba(#FFFFFF, .7);
    }
}